.main-center{
    width: 500px;
    margin: 0 auto;
    margin-top: 250px;
}
.search-bar input{
    width: 300px;
    margin: 0 auto;
}
.google-logo img {
    width: 300px;
    margin: 0 auto;
}
.search-button{
    margin: 10px auto;
    width: 198px;
    float:left;
}
.im-feeling-lucky-button{
    margin: 10px auto;
    float:left;
}
.google-offered{
    
}